* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
#Menu {
  width: 100%;
  height: 60px;
  background-color: #34465c;
  display: flex;
  justify-content: flex-end;
  border-bottom: 5px solid rgb(233, 233, 233);
}

/* log menu */
.logoMenu {
  width: 170px; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.logoMenu img {
  width: 100%;
}

/*  login avatar */
.login {
    width: 60px;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    cursor: pointer;  
}
 
.login img {
   width:40px ;
   height: 40px;
   border-radius: 50%;
   object-fit: cover;
}

/* shop */
.shop { 
    width:80px;
    font-size: 25px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    cursor: pointer; 
}

/* list Menu Chính */
.thanhMenu{
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    padding-left: 150px;
    cursor: pointer; 
}
.thanhMenu ul{
    display: flex;
    justify-content:space-between ;
}
.thanhMenu li{
    font-weight: 400;
    font-size: 16px;
    padding:0 10px 0 10px;
    list-style-type: none;     
}
/* Sub Menu */
.thanhMenu{
    position: relative;
}
.sub {
    display: flex;
    flex-direction: column;
    width: 200px; 
    border-radius: 2%;
    border: 1px solid #d8d8d8;
    background-color: #fff;
    text-align: center;  
}
.sub li {
    font-size: 14px;
    color: #34465c;
    padding: 12px 16px 12px 16px;
    text-transform: none; 
    font-weight: 500;
} 
.subMenu1{ 
    position: absolute;
    top: 55px;
    left: 44px;
}
.subMenu2{ 
    position: absolute;
    top: 55px;
    right: 10px;
}
.sub li {
    display: none;
}
.thanhMenu li:hover { 
    color: #9e9e9e;
}
.thanhMenu li:hover .sub li{
    display: block;
} 

