.app__imageMain{
    width: 100%;
    height: 620px;
}
.app__imageMain img{
    width: 100%;
}
.app__items{
    height: 563px;
    padding: 18px 140px 0 140px;
    display: flex;
    justify-content: space-between;
}
.app__items-right{
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.app__items-left{
    width: 49%;
    height: 100%;
    overflow: hidden;
}
.app__items-right-top {
    width: 100%;
    height: 48%;
    overflow: hidden; 
}
.app__items-right-down {
    width: 100%;
    height: 48%;
    overflow: hidden; 
}
.app__items-right-down__img img{
    width: 100%; 
    
}
.app__items-right-top__img img{
    width: 100%; 
}
.app__items-left__img img{
    width: 100%; 
}
.app__shop{
    padding: 40px 140px 20px 140px;
    margin-bottom: 100px;
}
.app__shop_title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.app__shop_title a{
    font-size: 50px;
    font-weight: 400; 
    text-decoration: none;
    color: #333; 
}
.app__shop_title a:hover{
    color:#00773E;
    cursor: pointer;
}
.app__shop_list{
    display: flex;
    justify-content: space-between;
}
.app__shop_list_items{
    width:270px;
    position: relative;
}
.app__shop_list_items-img{
    width: 100%;
    height:270px;
    overflow: hidden;
}
.app__shop_list_items-img img{
    width: 100%;
}
.app__shop_list_items-text{
    padding-top: 10px;
    margin-bottom: 10px;
}
.app__shop_list_items-text a{
    text-decoration: none;
    color: #333;
    font-size: 2rem;
    font-weight: 500; 
}
.app__shop_list_items-text_cost_box{
    display:flex; 
}
.app__shop_list_items-text-cost{
    font-size: 1.4rem;
    margin: 0 10px 0 0;  
}

.app__shop_list_items-text-entry{
    background-color: #333;
    z-index: 4;
    color: aliceblue;
    font-size: 1.4rem;
    padding: 2px 10px 2px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.app__shop_list_items-text-sale{
    z-index: 4;
    background-color: #ff0100;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    padding: 2px 10px 2px 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.app__shop_list_items-text-cost_sale{
    font-size: 1.4rem; 
}
 
.app__shop_list_items-text-cost_sale{
    text-decoration:line-through;
    color: rgb(138, 138, 138);
}
.item1{
    z-index: -1;
    position: relative;
}
.item2{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}
.iconHoverItem{
    z-index: 3;
    position: absolute;
    top: 35%;
    left: 40%;
    bottom: 0;
    right: 0;
    font-size: 2.7rem;
    font-weight: 400;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0,0);
    transition-property:transform;
    transition-duration: 1s;
}
.app__shop_list_items-img:hover .item2{
    opacity: 1;
    transition-duration: 1s;
} 
.app__shop_list_items-img:hover .iconHoverItem{
    transform: scale(1,1);
} 